A password reset was requested for an account registered with this email address. To reset your password, please open the following link:

<%= get_conf(:absolute_url) <> auth_path(CodeStats.Endpoint, :render_reset, @token) %>

This link is valid for <%= CodeStats.User.PasswordReset.token_max_life() %> hours.

If you did not request a password reset, you can ignore this email.
